* {
    box-sizing: border-box;
}

:root {
    --back-shelves: #f6f3e9;
}

body {
    font-family: Superclarendon, 'Bookman Old Style', 'URW Bookman', 'URW Bookman L', 'Georgia Pro', Georgia, serif; 
}